body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Helvetica, sans-serif;
  color: #000;
}

.container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.accordion {
  margin-bottom: 40px;
}

.accordion__options {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, opacity 0.2s ease;
}

.accordion__label {
  cursor: pointer;
  border: 1px solid green;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.accordion__options.open {
  max-height: 500px;
  opacity: 1;
}

.option {
  border: 1px solid red;
  margin-bottom: 2px;
}
